<h1>{{ title }}</h1>

<h4>Members</h4>
<ul>
    {{#each members}}
        <li>{{this.name}} : {{this.email}}</li>
    {{/each }}

    <form action="/api/members" method="POST" class="">
        <div>
            <label for="name">Name :</label>
            <input type="text" name="name">
        </div>

        <div>
            <label for="name">email :</label>
            <input type="email" name="email">
        </div>
        <input type="submit" value="Add Member">
    </form>
</ul>